%h1 List of free parking lots

%table#parking_lot
  %thead
    %tr
      %th= 'Street address'
      %th= 'Price per hour'
      %th= 'Free lots'
      %th= 'Distance (km)'
  %tbody
    - @parking_lots.each do |parking_lot|
      %tr
        %td= parking_lot.street_address
        %td= parking_lot.price_per_hour
        %td= parking_lot.free_lots
        %td= parking_lot.distance

%h2 Reference Address: #{@address}